<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Test.Properties.Settings1>
            <setting name="AWS_KEY" serializeAs="String">
                <value>AKIAJBL2WUKTCL4YAJNA</value>
            </setting>
            <setting name="AWS_SECRET" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="AWS_BUCKET" serializeAs="String">
                <value>sydney-bio-raw</value>
            </setting>
            <setting name="AWS_REGION" serializeAs="String">
                <value>eu-west-1</value>
            </setting>
            <setting name="API_URL" serializeAs="String">
                <value>https://api.mylivingdata.com/</value>
            </setting>
            <setting name="PRE_SHARED_KEY" serializeAs="String">
                <value>1234567890</value>
            </setting>
        </Test.Properties.Settings1>
    </userSettings>
</configuration>